/*variaveis globais*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	
}

html, body{
	height: 100%;
}

.container{
	max-width: 675px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/**header**/

header .container{
	text-align: center;
	margin-top: 25px;
}

.img_logo{
	width: 100px;
	height: 100px;
	background-image: url('../images/bitmap@2x.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

/**sessao_pesquisa**/

.form_pesquisa{
	width: 100%;
	margin: 20px 0;
}

.form_pesquisa form{
	width: 100%;
	text-align: center;
}

.form_pesquisa form input[type='text']{
	width: 65%;
	height: 40px;
	display: inline-block;
	background-image: url('../images/lupa.png');
	background-repeat: no-repeat;
	padding-left: 35px;
	background-size: 25px 25px;
	background-position: 5px center;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	color: #666666;
	outline: 0;
	float: left;
}

.form_pesquisa form .select_pesquisa{
	width: 20%;
	height: 40px;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	color: #191919;
	outline: 0;
	display: inline-block;
	float: left;
}

.form_pesquisa form .select_pesquisa option{
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	color: #666;
}


.form_pesquisa form input[type='submit']{
	width: 15%;
	height: 40px;
	border-radius: 4px;
  	background-color: #0053a3;
  	border: none;
  	color: white;
	font-size: 14px;
	font-weight: bold;
	outline: 0;
	float: left;
	display: inline-block;
}

.form_pesquisa .aux_pesquisa{
	width: 100%;
	margin-top: 10px;
}

.form_pesquisa .aux_pesquisa p{
	display: inline-block;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	color: #191919;
}

.form_pesquisa .aux_pesquisa .select_aux_pesquisa{
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	color: #191919;
	outline: 0;
}

.form_pesquisa .aux_pesquisa .select_aux_pesquisa option{
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	color: #666;
}

/**sessao_corpo_pesquisa**/

.sessao_corpo_pesquisa{
	width: 100%;
}

.sessao_corpo_pesquisa .container{
	display: flex;
	margin-bottom: 50px;
}

.infor_resultado{
	width: 15%;
	height: 100%;
	padding: 10px;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	color: #191919;
}

.barra_filter{
	width: 0;
	height: 6px;
	border-radius: 1px;
	margin:10px 0;
	background: linear-gradient(to bottom,rgb(50,50,50),rgb(150,150,150));
}

.dados_resultado{
	width: 85%;
	height: 100%;
	padding: 10px;
}

.dados_resultado{
	text-decoration: none;
	width: 100%;
}

.wraper_dados_resultado{
	display: flex;
	margin-top: 20px;
}

.wraper_img_resultado{
	width: 40%;
}

.wraper_img_resultado .img_resulado{
	width: 215px;
	height: 144px;
	margin-bottom: 0 auto;
	display: inline-block;
	position: relative;
}

.wraper_img_resultado .img_resulado img{
	position: absolute;
	width: 100%;
	height: 100%;
}


.texto_resultado{
	padding-left: 10px;
	width: 60%;
	position: relative;
}

.texto_resultado h2{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #666666;
	font-family: 'Merriweather', serif;
}

.texto_resultado p{
	font-size: 14px;
  	font-weight: 300;
  	text-align: left;
  	color: #666666;
  	margin-top: 10px;
  	margin-bottom: 20px;
}

.texto_resultado .data_resultado{
	font-size: 10px;
	position: bottom;
	bottom: 0;
	position: absolute;
	color: #666;

}


.separador_resultado{
	width: 100%;
	background-color: #d8d8d8;
	height: 1px;
	margin-top: 10px;
}


/**Medias querys**/

@media screen and (max-width: 768px){

	.form_pesquisa form input[type='text']{
		width: 98%;
		float: none;
	}

	.form_pesquisa form .select_pesquisa{
		width: 150px;
		float: none;
		margin-top: 20px; 
	}


	.form_pesquisa form input[type='submit']{
		width: 100px;
		float: none;
		margin-top: 20px;
		margin-left: 10px;
	}

	.form_pesquisa .aux_pesquisa{
		margin-top: 20px;
		text-align: center;
	}

	/*media corpo pesquisa*/


	
	.sessao_corpo_pesquisa .container{
		flex-direction: column;
	}

	.infor_resultado{
		width: 100%;
		height: auto;
		padding: 10px;
		text-align: center;
		background-color: #d6d6d6;
	}

	.dados_resultado{
		width: 100%;
	}

}

@media screen and (max-width: 500px){

	.wraper_dados_resultado{
		flex-direction: column;
	}

	.wraper_img_resultado{
		width: 100%;
	}

	.wraper_img_resultado .img_resulado{
		left: 50%;
		transform: translateX(-50%);
	}



	.texto_resultado{
		padding-left: 0;
		margin-top: 10px;
		width: 100%;
	}

	.texto_resultado h2{
		text-align: center;
	}

	.texto_resultado p{
		text-align: justify;
	}

}